<h1>!Hola fanes mios, bienvenidos al basurero comunitario</h1>

<div class="box">
    <input id="chatBox" name="chatbox" type="text">
    <div id="messagesLog"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>